---
published: true
layout: default
---
<style>
  th {
    font-weight: bold;
  }
  .buttonsmall {
    cursor: pointer;
  }
  .buttonsmall:hover, .buttonsmall:hover a {
    color: #fff;
  }
  .classtable td {
    vertical-align: top;
  }
  .class-link {
    display: inline-block;
    margin-bottom: 10px;
  }
  .class-link-text {
    display: inline-block;
    padding-left: 10px;
    text-indent: -10px;
  }
  .class-link-time {
    font-weight: 600;
  }
  .session {
    max-width: 200px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
  }
  .session.disabled {
    color: #666;
  }
  .session:first-child {
    margin-left: 0px;
  }
  .session .status {
    font-weight: bold;
  }
  .session ul {
    margin: 0px;
  }
  .session-title {
    font-weight: bold;
  }
</style>
<header class='major'>
<h2>Winter 2016 Classes</h2>
<p>Each class is a 10 session program meeting once a week for two hours located at the Curiosity Hacked Oakland Lab, 6036 Telegraph Ave, Oakland, CA 94609</p>
<p>Questions on a class? info@curiosityhacked.org</p>
</header>
<div class='class-table'></div>

<header class='major'>
<h2></h2>
<p><a href="/oakland/index.html#cal">Full calendar of Oakland Lab activities</a></p>
</header>
<div class='class-list'></div>

<script type="text/template" id="calendarTemplate">
  <table class='classtable' style="margin: auto;">
    <thead>
      <% _.each(_.keys(days), function(day) { %>
        <th style="width: <%= 100/_.keys(days).length %>%"><%= day %></th>
      <% }); %>
    </thead>
    <tbody class="classtable">
      <tr>
        <% _.each(_.keys(days), function(day) { %>
          <td class='table-{{day}}'>
            <% _.each(days[day], function(session) { %>
                <div class='class-link buttonsmall ltblue' onclick='scrollToElement("#<%=session.classid%>")'>
                  <span class='class-link-text'>
                    <span class='class-link-time'><%= session.time %></span>
                    <span class='class-link-title'><%= session.title %></span>
                  </span>
                </div>
            <% }); %>
          </td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</script>

<script type="text/template" id="listTemplate">
<% _.each([0, 1], function(col) { %>
  <div class='6u'>
    <section class='article-list box'>
      <% _.each(classes, function(c, i) { %>
        <% if( i %2 == col) { %>
          <article id='<%=c.classid%>' class='box excerpt'>
            <header>
              <h4><%=c.title%></h4>
            </header>
            <p class='class-description'>
              <%=c.description%>
            </p>
            <h5>Sessions</h5>
            <% _.each(_.sortBy(c.sessions, ['dayofweek']), function(session) { %>
              <div class='session buttonsmall <%= session.status == "" ? "ltblue" : "disabled" %>' id='<%= session.sessionid %>'>
                <div class='session-title'>
                  <%= session.dayofweek %>s <%= session.time %>
                </div>
                <div class='session-details'>
                  <ul>
                    <li><%= session.dates %></li>
                    <li>Ages <%= session.ages %></li>
                    <% if (session.status) { %>
                      <li class='status'><%= session.status %></li>
                    <% } else { %>
                      <li>$<%= session.cost %></li>
                    <% } %>
                </div>
              </div>
            <%})%>
          </article>
        <% } %>
      <%})%>
    </section>
  </div>
<%})%>
</script>

<script type="text/javascript">
  var weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  var formatTime = function(time) {
    var pieces = time.split(':');
    return (pieces[0] < 13 ? pieces[0] : pieces[0] - 12) + ":"+pieces[1];
  };

  var sortSessions = function(sessions) {
    return _.sortByAll(sessions, [
      function(s) { return weekdays.indexOf(s.dayofweek); },
      function(s) { return parseInt(s.start.split(":")[0]); },
    ]);
  }
  var loadClasses = function(classes) {
    var days = {};
    _.each(weekdays, function(day) {
      days[day] = [];
    });
    _.each(classes, function(c) {
      c.sessions = sortSessions(c.sessions);
      _.each(c.sessions, function(session) {
        session.title = c.title;
        session.classid = c.classid;
        session.time = formatTime(session.start) + '-'+formatTime(session.end);
        days[session.dayofweek].push(session);
      });
    });

    _.each(_.keys(days), function(name) {
      days[name] = sortSessions(days[name]);
    });

    $('.class-table').html(_.template($("#calendarTemplate").html())({days: days}));
    $('.class-list').html(_.template($("#listTemplate").html())({classes: classes}));

    $('.session.ltblue').click( function() {
      window.location.assign("/oakland/winter2016register?a="+$(this).attr('id'));
    });
  };

  $(document).ready(function() {
    $.get('/classes.json', loadClasses);
  });

  var scrollToElement = function(selector) {
    $('html, body').animate({
        scrollTop: $(selector).offset().top
    }, 2000);
    return false;
  };

</script>
