<!-- Blog4 -->
        <article class="box-excerpt">
                                                                                                        <a href="#" class="image image-left"></a>
                                                                                                        <div>
                                                                                                                <header>
                                                                                                                        <span class="date">Monday, November 4, 2013</span>
                                                                                                                        <h3><a href="#">What's wrong with the DIY, Making, Hacking Scene for Kids? Not much.</a></h3>
                                                                                                                </header>
                                                                                                                <p>I received several emails yesterday from parents who were offended by this article we were apparently tagged in. The author clearly feels that the DIY Maker educational scene is not supporting the... <a href="#">Read more</a></p>
                                                                                                        </div>
                                                                                                </article>
