<!-- locationlist -->
<li> <a href='#' onclick="map.panTo(beach[1][1]);map.setZoom(8);return(false);">Guild 001, Oakland, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[2][1]);map.setZoom(8);return(false);">Guild 002, Menlo Park, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[3][1]);map.setZoom(8);return(false);">Guild 003, Charleston, SC</a> </li>
<li> <a href='#' onclick="map.panTo(beach[4][1]);map.setZoom(8);return(false);">Guild 004, Seattle, WA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[5][1]);map.setZoom(8);return(false);">Guild 005, Las Vegas, NM</a> </li>
<li> <a href='#' onclick="map.panTo(beach[6][1]);map.setZoom(8);return(false);">Guild 006, Alameda, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[7][1]);map.setZoom(8);return(false);">Guild 007, San Francisco, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[8][1]);map.setZoom(8);return(false);">Guild 008, Oakland, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[9][1]);map.setZoom(8);return(false);">Guild 009, Sacramento</a> </li>
<li> <a href='#' onclick="map.panTo(beach[10][1]);map.setZoom(8);return(false);">Guild 010, St. Louis, MO</a> </li>
<li> <a href='#' onclick="map.panTo(beach[11][1]);map.setZoom(8);return(false);">Guild 011, Nashville, TN (South)</a> </li>
<li> <a href='#' onclick="map.panTo(beach[12][1]);map.setZoom(8);return(false);">Guild 012, Ithaca, NY</a> </li>
<li> <a href='#' onclick="map.panTo(beach[13][1]);map.setZoom(8);return(false);">Guild 013, Brookeville, MD</a> </li>
<li> <a href='#' onclick="map.panTo(beach[14][1]);map.setZoom(8);return(false);">Guild 014, Sommerville, MA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[15][1]);map.setZoom(8);return(false);">Guild 015, Orange County, CA (South) (Rancho Santa Margarita)</a> </li>
<li> <a href='#' onclick="map.panTo(beach[16][1]);map.setZoom(8);return(false);">Guild 016, Orange County, CA (Fullerton)</a> </li>
<li> <a href='#' onclick="map.panTo(beach[17][1]);map.setZoom(8);return(false);">Guild 017, Memphis, TN</a> </li>
<li> <a href='#' onclick="map.panTo(beach[18][1]);map.setZoom(8);return(false);">Guild 018, Chandler, AZ</a> </li>
<li> <a href='#' onclick="map.panTo(beach[19][1]);map.setZoom(8);return(false);">Guild 019, Gainesville, FL</a> </li>
<li> <a href='#' onclick="map.panTo(beach[20][1]);map.setZoom(8);return(false);">Guild 020, Mitchell, NE</a> </li>
<li> <a href='#' onclick="map.panTo(beach[21][1]);map.setZoom(8);return(false);">Guild 021, Burbank, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[22][1]);map.setZoom(8);return(false);">Guild 022, West Orange County, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[23][1]);map.setZoom(8);return(false);">Guild 023, LaMorinda, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[24][1]);map.setZoom(8);return(false);">Guild 024, Oak Park, IL</a> </li>
<li> <a href='#' onclick="map.panTo(beach[25][1]);map.setZoom(8);return(false);">Guild 025, Glenview, IL</a> </li>
<li> <a href='#' onclick="map.panTo(beach[26][1]);map.setZoom(8);return(false);">Guild 026, Los Angeles</a> </li>
<li> <a href='#' onclick="map.panTo(beach[27][1]);map.setZoom(8);return(false);">Guild 027, Orange County (Irvine), CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[28][1]);map.setZoom(8);return(false);">Guild 028, Worcester MA </a> </li>
<li> <a href='#' onclick="map.panTo(beach[29][1]);map.setZoom(8);return(false);">Guild 029, Oakland, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[30][1]);map.setZoom(8);return(false);">Guild 030, San Diego, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[31][1]);map.setZoom(8);return(false);">Guild 031, South Orlando, FL</a> </li>
<li> <a href='#' onclick="map.panTo(beach[32][1]);map.setZoom(8);return(false);">Guild 032, Hayward, CA</a> </li>
<li> <a href='#' onclick="map.panTo(beach[33][1]);map.setZoom(8);return(false);">Guild 033, Llanelli, Wales, UK</a> </li>
<li> <a href='#' onclick="map.panTo(beach[34][1]);map.setZoom(8);return(false);">Guild 034, Research Triangle, NC</a> </li>
<li> <a href='#' onclick="map.panTo(beach[35][1]);map.setZoom(8);return(false);">Guild 042, San Jose</a> </li>
