<form id="joinForm" action="https://docs.google.com/forms/d/1PHAHZ7XTGweT_kAzkbJNKRr8blGWcKD7uEYPrmMU8A0/formResponse" >
  <table>
    <tr>
      <td><label>Name: </label></td>
      <td class="input-cont"><input name="entry.864716879" size="30"></br></td>
    </tr><tr>
      <td><label>Email: </label></td>
      <td class="input-cont"><input name="entry.107641356" size="30"></br></td>
    </tr>
    <tr><td colspan="2">
      <input type="radio" name="fus" value="us" CHECKED onchange="$('#outus,#inus').toggle();">US
      <input type="radio" name="fus" value="outside" onchange="$('#outus,#inus').toggle();">Outside</br>
    </td></tr>
    <tr>
      <td><span id="inus"><label>Zip Code: </label></span><span id="outus" style="display: none"> <label>Location: </label></span></td>
      <td class="input-cont"><input name="entry.1621335592" size="30"></br></td>
    </tr>
  </table>
  <table>
    <tr><td width="0.75em"><input name="entry.370014091" type="checkbox" value="Joining a new or existing group."></td><td><span class="indent">I'd be interested in joining a new or existing group.</br></span></td></tr>
    <tr><td><input name="entry.370014091" type="checkbox" value="Starting a new group and acting as a leader."></td><td><span class="indent">I'd be interested in starting a new group and acting as a leader. </br></span></td></tr>
    <tr><td><input name="entry.446310096" type="checkbox" value="Add me to your mailing list"></td><td><span class="indent">Please add me to your mailing list. </br></span></td></tr>
  </table>
  <input id="submit-sign-up" type="submit" value="Sign Me Up!"><img id="loading" src="/images/ajax-loader.gif" alt="loading..." style="display:none;"/>
  <div id="joinresult"></div>
</form>
<script>
  var form = $("#joinForm");
  var nameToHuman = {
    'entry.864716879': 'Name',
    'entry.107641356': 'Email',
  };

  // Attach a submit handler to the form
  form.submit(function( event ) {
    $('#joinresult').empty();

    // Check for errors
    var hasError = false;
    var values = {};
    $.each(form.serializeArray(), function(i, field) {
      if (field.name in nameToHuman && !field.value) {
         hasError = true;
         humanFieldName = nameToHuman[field.name]
         $('#joinresult').append(
             '<b style="color: red">' + humanFieldName + ' is required.</b><br>');
      }
    });
    if (hasError) {
      $('#loading').hide();
      return false;
    }
  });
</script>
